
.game-item {
  display: block;

  margin: 8px 0;
  padding: 7px;
  border-radius: 2px;

  cursor: pointer;

  animation: move-item 0.1s linear;
}

@keyframes move-item {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.game-item-info {
  display: inline-block;

  margin-left: 12px;
}

.game-item-title {
  font-family: ProximaNova-Regular;
  font-size: 19px;
  font-weight: 700;

  display: inline-block;
}

.game-item-site {
  display: inline-block;
  margin-left: 6px;

  width: 14px;
  height: 14px;
}

.game-item-description {
  font-family: ProximaNova-Regular;
  font-size: 17.5px;

  color: #777;

  margin-top: 1px;
}

.game-item-vote {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  margin-top: 2px;
  padding: 5px 6px;

  height: 100%;
  background: #f1f1f1;
  border-radius: 3px;
}

.game-item-points {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;

  color: #5a5a5a;
}

.game-item-upvote {
  width: 0; 
  height: 0;

  border-top: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #ccc;

  font-size: 0;
  line-height: 0;

  margin: 0 auto;
  margin-bottom: 2px;

  cursor: pointer;
}

.game-item-upvote:hover {
  border-bottom: 9px solid #05cc47;
}

.game-item-upvoted {
  border-bottom: 9px solid #05cc47;
}

.game-item-right {
  float:right;
  display: inline-block;
  text-align: right;
  margin-right: 7px;
}

.game-item-platform {
  font-family: "Ionicons";
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 0;
  color: rgba(120, 120, 120, 0.3);

  margin-left: 4px;
}

.game-item-platform-linux {
  .game-item-platform;
}

.game-item-platform-linux:before {
  content: "\f2c5";
}

.game-item-platform-mac {
  .game-item-platform;
}

.game-item-platform-mac:before {
  content: "\f227";
}

.game-item-platform-windows {
  .game-item-platform;
}

.game-item-platform-windows:before {
  content: "\f247";
}

.game-item-platform-android {
  .game-item-platform;
}

.game-item-platform-android:before {
  content: "\f225";
}

.game-item-platform-browser {
  .game-item-platform;
}

.game-item-platform-browser:before {
  content: "\f4db";
}

.game-item-platform-ios {
  .game-item-platform;
}

.game-item-platform-ios:before {
  content: "\f1fa";
}

.game-item-avatar {
  margin-top: 4px;
  width: 20px;
  height: 20px;
  margin-left: 100px;
}

.game-item-avatar > img {
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.game-item:hover {
  background: rgba(200, 200, 200, 0.1);

  .game-item-platform-linux {
    color: #59626a;
  }
  .game-item-platform-windows {
    color: #ff1493;
  }
  .game-item-platform-mac {
    color: #999;
  }
  .game-item-platform-ios {
    color: #222;
  }
  .game-item-platform-android {
    color: #a4c639;
  }
  .game-item-platform-browser {
    color: #4285f4;
  }
}
