@import "fonts.less";
@import "gameitem.less";
@import "header.less";
@import "vendor.less";

body {
  margin: 0 !important;
}

.middle-content {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 20px;
}
