@import "button.less";
@import "comment.less";
@import "fonts.less";
@import "game.less";
@import "gameitem.less";
@import "header.less";
@import "modal.less";
@import "status.less";
@import "textbox.less";
@import "vendor.less";

body {
  margin: 0 !important;
}

.middle-content {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 20px;
}

.game-items-day {
  padding: 15px 0;

  color: #555;
  text-align: center;

  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 600;  letter-spacing: 0.9px;
}

.upload-screenshot {
  height: 80px;
  margin: 5px 0;
  margin-right: 10px;

  display: inline-block;
  position: relative;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    .remove-screenshot {
      display: block;
    }
  }
}

.upload-screenshot > img {
  height: 80px;
  border-radius: 2px;
}

.upload-screenshot > .remove-screenshot {
  position: absolute;
  top: 6px;
  right: 8px;

  color: #ff3322;
  display: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
